@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Montserrat" ,sans-serif;
  }
}
.name{
  /* font-family: "pacifico",sans-serif; */
  /* font-family: "Montserrat",sans-serif; */
  font-family: "Orbitron",sans-serif;
  font-size: xx-large;
}

